style.css

*{
	margin: 0;
	padding: 0;
}

.cabeçalho{
	background-color: #191970	;
	color: #ffffff;
	display: flex;
	justify-content: space-around;
	padding: 25px 0;
}

.logo{
	display: inline-block;
margin: 0 16px;
font-size: 38px;
font-style: initial;
font-style: italic;
}

.itens{
	 display: inline-block;
     font-size: 25px;
	 justify-content: space-around;

}

.robo{
	width: 13%;
	text-align: right;
}


.robozin{
	width: 35%;
	text-align: right;
}

.sobrenós{
background-color: #ffffff;
display: flex;
}


.titulo{
	font-style: italic;
	font-size: 50px;
}

.paragrafo{
	font-size: 25px;
    width: 50%;
}
