header{
    background-color: #00084b;
}
.logo-foto{
 text-align: left;
 width: 40%;
 height: 40%;
}
.lista-cabecalho{
    padding: 1em;
    justify-content: space-around;  
    display: flex;
}
.lista-cabecalho-item{
 font-family: 'Poppins', sans-serif;
 color: #ffffff
}
.meiolo{
    background-image:  linear-gradient( #00084b,#000000);
}
.titulo-meiolo{
    
    text-align: center;
    color: #ffe600;
}
.item-meiolo{
    width: 80%;
    padding: 15px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}
.meiolo-2{
    background-color: #000000;
}
.projetos{
    color: #ffe600;
    text-align: center;
}
.expli-prj{
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    padding: 15px;
    width: 80%;
}
.titulo-semaforo{
    text-align: center;
    color: #ffe600
    
}
.img-semaforo{
    margin-left: 140px;
    width: 30%;
    height: 30%;
    color: #ffffff;
}
.semaforo-texto{
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 15px;
}
.titulo-buzzer{
    text-align: center;
    color: #ffe600;
}
.img-buzzer{
    margin-left: 140px;
    width: 30%;
    height: 30%;
    color: #ffffff;
}
.buzzer-texto{
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 15px;    
}
.titulo-s-maquina{
    text-align: center;
    color: #ffe600;
}
.img-sm{
    margin-left: 140px;
    width: 30%;
    height: 30%;
    color: #ffffff;
}
.sm-texto{
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
.area-est{
    padding-left: 80px;
    padding-top: 20px;
    color: #ffffff;
    width: 20%;
    height: 50%;
}
